.modal-body-header{
    display: none;
}
.modal-body-route{
    display: none;
}
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: initial !important;
}
.modal-content{
    max-width: initial !important;
}

.spec_modal{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 990px){
    .spec_modal{
        width: 90%;
    }
    .modal-backdrop{
        display: none;
    }
    .spec_modal_holder{
        background: #00000078;
    }
}

#imagepreview_name{
    margin-bottom: 0;
}
#imagepreview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
    max-width: 100%;
}

.nav ul{
    padding-left: 40px !important;
}