.glyphicon-floppy-save {
    margin-right: 8px;
    vertical-align: -3px;
    font-size: 16px;
}

#analytics_textarea{
    height: 150px;
}

h3{
    margin: 0;
}

#settings_analtics_save{
    margin-top: 20px;
}

.settings_separator{
    margin: 30px 0;
}

.line_input{
    margin-bottom: 20px;
}

.social_name{
    font-weight: bold;
    line-height: 2.5;
}