.thumb > span:after {
  content: "\f00e";
  font-family: FontAwesome;
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 45px 0;
}

.thumb > span:hover:after {
  opacity: 1;
}

.thumb img {
  width: 100%;
}

.thumb {
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  height: 170px;
}

.thumb img {
  -webkit-transition: all 0.6s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.6s ease;
  /* Firefox */
  -o-transition: all 0.6s ease;
  /* IE 9 */
  -ms-transition: all 0.6s ease;
  /* Opera */
  transition: all 0.6s ease;
}

.thumb:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}

body.modal-open {
  overflow: hidden !important;
}

.modal-body-header {
  overflow: hidden;
  padding: 10px;
  border-bottom: solid 1px #e5e5e5;
}

.folder_icon {
  float: left;
  cursor: pointer;
  margin-right: 20px;
}

.folder_icon .fa {
  font-size: 50px;
  display: inline;
}

.folder_icon p {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.image_name {
  font-size: 13px;
  margin-bottom: 2px;
  word-break: break-all;
}

#imagepreview_name {
  margin-top: 5px;
  word-break: break-all;
}

.note-handle .note-control-selection{
  display: none !important;
}
