.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #f44122;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffffe5;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/adminset/img/icons/preloader.gif);
    display: none;
}

.div_preloader{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffffe5;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/adminset/img/icons/preloader.gif);
    min-height: 600px;
    display: none;
}

#bookingPreviewModal_loader{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffffe5;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/adminset/img/icons/preloader.gif);
    display: none;
}