#admin_top {
    overflow: hidden;
}
.admin_title {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: arial;
    line-height: 1.1;
    color: #000;
    float: left;
}

th{
    color: #000 !important;
    font-weight: bold !important;
}

.white_bg{
    background: #FFF;
    border: solid 1px #e5e5e5;
    padding: 15px;
}

.booking_unconfirmed{
    font-weight: bold;
    color: #aa0000;
}

.booking_confirmed{
    font-weight: bold;
    color: #0b5f00;
}

.filter_table th input{
    width: 100%;
}

.loader_holder{
    min-height: 300px;
}
.table_loader{ 
    background-repeat: no-repeat;
    background-image: url(/adminset/img/icons/preloader.gif);
    background-size: cover;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: 150px;
}

.filter_table th input, .filter_table th select{
    font-size: 15px;
}

.search_x_clear{
    z-index: 100;position: absolute;right: 0;margin: 0;padding: 2px 2px 0 0;font-size: 15px;
}
.search_x_clear:hover, .search_x_clear:active, .search_x_clear:focus{
    border-color: transparent;
}

#calendar_holder{
    min-height: 400px;
}
#calendar_holder .select_type p{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 60px 0px;
    border: solid 1px;
    cursor: pointer;
}
#calendar_holder .select_type p:hover{
    background: #333;
    color: #FFF;
}
#calendar_holder .select_elements{
    margin: 30px 0px;
}

.admin_title{
    display: none;
}

.cal_not_free{
    color: #003680;
    cursor: pointer;
}

.page-link {
    min-width: auto;
    text-align: center;
}

.nav_append_new_booking{
    display: none !important;
}

.nowrap{
    white-space: nowrap;
}

.modal{
    z-index: 9999999;
}