.tower_block{
    margin-bottom: 40px;
}
.cal_titles{
    border: solid 1px black;
    border-left: none;
    padding: 4px 0px;
    background-color: #333;
}
.cal_titles p{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.cal_dates div{
    display: block;
    text-align: center;
    margin: 0;
    border: solid 1px;
    border-top: none;
}
.cal_free_space div{
    display: block;
    text-align: left;
    margin: 0;
    border-right: solid 1px;
    border-bottom: solid 1px;
    color: white;
    border-color: black;
    padding-left: 12px;
}
.cal_free_space div:hover{
    opacity: 0.9;
}
.cal_free_space .cal_free{
    background: green;
    cursor: pointer;
    text-align: center;
    
}
.cal_free_space .cal_reserved{
    background: #911615;
    cursor: pointer;
}
.cal_free_space .cal_paid{
    background: #0063ce;
    cursor: pointer;
}
.cal_free_space .cal_progressed{
    background: orange;
    cursor: default;
    color: #000;
}
.cal_free_space .cal_pending {
    cursor: not-allowed;
}
.cal_free_space .closed{
    background: #777777;
    cursor: pointer;
    text-align: center;
}

.cal_free_description div{
    display: block;
    text-align: center;
    margin: 0;
    border-right: solid 1px;
    border-bottom: solid 1px;
    color: white;
    border-color: black;
}
.cal_free_description div:hover{
    opacity: 0.9;
}
.cal_free_description .desc_free{
    background: green;
    cursor: default;
}
.cal_free_description .desc_reserved{
    background: #911615;
    cursor: default;
}
.cal_free_description .desc_paid{
    background: #0063ce;
    cursor: default;
}
.cal_free_description .desc_progressed{
    background: orange;
    cursor: default;
    color: #000;
}
.cal_free_description .desc_pending {
    cursor: not-allowed;
}
.cal_free_description .desc_closed{
    background: #777777;
    cursor: default;
}

/* Speciális margin - padding Bootstrap div-es táblázatokhoz! */
.row-no-padding {
    margin-left: 0;
    margin-right: 0;
}
.row-no-padding [class*="col-"],  /* Elements whose class attribute begins with "col-" */
.row-no-padding [class^="col-"] { /* Elements whose class attribute contains the substring "col-" */
    padding-left: 0;
    padding-right: 0;
}
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.admin_subtitle{
    color: #003680;
    display: none;
}
#calendar_holder{
    min-height: 400px;
}
#calendar_holder .intro_layer{
    display: none;
}
#calendar_holder .calendar_layer{
    position: relative;
    display: none;
}
#booking_restart{
    display: none;
}
#calendar_holder .select_type p{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 60px 0px;
    border: solid 1px;
    cursor: pointer;
}
#calendar_holder .select_type p:hover{
    background: #333;
    color: #FFF;
}
#calendar_holder .select_elements{
    margin: 30px 0px;
}
#countdown_btn{
    margin-bottom: 20px;
    cursor: pointer;
}

#serviceListloader{
    display: none;
}

#update_without_preloader{
    background-repeat: no-repeat;
    background-image: url(/adminset/img/icons/preloader.gif);
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled:hover{
    background-color: #da5e6a  !important;
}

.btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled:hover{
    background-color: #3999ff  !important;
}

/* .disabled:hover {
    background: #000 !important;
}

.disabled:active:focus { 
    background: #000 !important;
}

.disabled:focus { 
    background: #000 !important;
}
.disabled:focus-within { 
    background: #000 !important;
}
.disabled:active { 
    background: #000 !important;
}
.disabled:visited { 
    background: #000 !important;
} */

.nav_tabs_elem .paid{
    background: #0063ce;
    color: #FFF;
}

.nav_tabs_elem .active_paid{
    background: #0063ce;
    color: #FFF;
    font-weight: bold;
    border-color: #003875;
}

.nav_tabs_elem .paid:hover, .nav_tabs_elem .active_paid:hover{
    color: #000;
    background: #0063ce !important;
    border-color: #003875 !important;
    opacity: 0.9;
}

.nav-tabs .nav-item{
    margin-right: 5px;
}

.multiple_counter{
    background: yellow;color: #000;margin-left:10px;padding: 0 4px 0 4px;font-weight: bold;float: right;margin-right: 6px;
}

.multiple_counter_paid{
    background: #0063ce;
    color: #FFF;
    margin-left:10px;padding: 0 4px 0 4px;font-weight: bold;
}

.page-link{
    min-width: 110px;
    text-align: center;
}

.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled:focus-within {
    background: #28a745db !important;
}

#bookingPreviewModal .modal-body button{
    width: 100%;
}

/* @media (min-width: 576px){
    .modal-dialog{
        max-width: 800px;
    }
} */

.modal p{
    word-wrap: break-word;
}